<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <!-- <form method="post" action="https://crystaldelta.instructure.com/courses/510/external_content/retrive" id="submit">
            <input type="hidden" name="data" value="{{ data }}"/>
            <input type="hidden" name="lti_message_type" value="ContentItemSelection"/>
            <input type="hidden" name="lti_version" value="LTI-1p0"/>
            <input type="hidden" name="content_items" value="{{ content_items_json }}"/>
     </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
    $('#submit').submit();
    </script> -->
        <form id="submit">
            <button type="submit">
                submit to view data
            </button>
        </form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript">
        $('#submit').submit(function(event){
            event.preventDefault()
            $.ajax({
                url : 'https://localhost:3001/postData',
                method : 'GET',
                dataType : 'json',
                success : () => console.log('request success'),
                error : (err) => console.log(err)
            })
        })
        </script>
</body>
</html>